body {
    background: transparent url(pinstripes.png);
    font-family: Helvetica;
}

body > hr {
    display: none;
}

blockquote {
    margin: 0 0 10px 0;
    background: #fff;
    border: 1px solid #999;
    -webkit-border-radius: 10px;
}

blockquote > h1 {
    text-align: center;
    margin: 12px 0 0 0;
    font-size: medium;
}

blockquote > h2 {
    text-align: center;
    margin: 0;
    font-size: small;
    color: #888;
}

blockquote > h3 {
    text-align: center;
    margin: 0;
    font-size: small;
    color: #900;
}

blockquote > hr {
    border-top: 1px dashed #999;
}

blockquote > p {
    margin: 10px;
}

ul {
    padding: 0 10px;
}

blockquote > ul {
    padding: 0 25px;
    margin: 10px 0;
}

blockquote > ul li {
    margin: 5px 0;
}
