Package: backgrounder
Name: Backgrounder
Version: svn.r513
Architecture: iphoneos-arm
Description: Enable and manage backgrounding
Homepage: http://iphone-backgrounder.googlecode.com/
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=backgrounder3Data
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Lance Fetters (ashikase) <gaizin@gmail.com>
Section: System
Depends: mobilesubstrate, libactivator (>= 1.3.1), firmware (<< 4.0) | libstatusbar
Conflicts: firmware (<< 3.0), firmware (>> 4.0.1), sbsettings (<< 3.0.2-14), us.hannahpappah.incarcerapp (<= svn.r436-75)
dev: ashikase
Sponsor: thebigboss.org <http://thebigboss.org>
