<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>firstRun</key>
        <true/>
        <key>global</key>
        <dict>
            <key>backgroundingMethod</key>
            <integer>2</integer>
            <key>badgeEnabled</key>
            <false/>
            <key>enableAtLaunch</key>
            <false/>
            <key>fallbackToNative</key>
            <true/>
            <key>fastAppSwitchingEnabled</key>
            <true/>
            <key>forceFastAppSwitching</key>
            <false/>
            <key>minimizeOnToggle</key>
            <true/>
            <key>persistent</key>
            <true/>
            <key>statusBarIconEnabled</key>
            <true/>
        </dict>
        <key>overrides</key>
        <dict>
            <key>com.apple.mobilemail</key>
            <dict>
                <key>backgroundingMethod</key>
                <integer>1</integer>
                <key>badgeEnabled</key>
                <false/>
                <key>enableAtLaunch</key>
                <true/>
                <key>fallbackToNative</key>
                <true/>
                <key>fastAppSwitchingEnabled</key>
                <true/>
                <key>forceFastAppSwitching</key>
                <false/>
                <key>minimizeOnToggle</key>
                <true/>
                <key>persistent</key>
                <true/>
                <key>statusBarIconEnabled</key>
                <true/>
            </dict>
            <key>com.apple.mobilephone</key>
            <dict>
                <key>backgroundingMethod</key>
                <integer>1</integer>
                <key>badgeEnabled</key>
                <false/>
                <key>enableAtLaunch</key>
                <true/>
                <key>fallbackToNative</key>
                <true/>
                <key>fastAppSwitchingEnabled</key>
                <true/>
                <key>forceFastAppSwitching</key>
                <false/>
                <key>minimizeOnToggle</key>
                <true/>
                <key>persistent</key>
                <true/>
                <key>statusBarIconEnabled</key>
                <true/>
            </dict>
            <key>com.apple.mobilesafari</key>
            <dict>
                <key>backgroundingMethod</key>
                <integer>1</integer>
                <key>badgeEnabled</key>
                <false/>
                <key>enableAtLaunch</key>
                <true/>
                <key>fallbackToNative</key>
                <true/>
                <key>fastAppSwitchingEnabled</key>
                <true/>
                <key>forceFastAppSwitching</key>
                <false/>
                <key>minimizeOnToggle</key>
                <true/>
                <key>persistent</key>
                <true/>
                <key>statusBarIconEnabled</key>
                <true/>
            </dict>
            <key>com.apple.mobileipod-MediaPlayer</key>
            <dict>
                <key>backgroundingMethod</key>
                <integer>1</integer>
                <key>badgeEnabled</key>
                <false/>
                <key>enableAtLaunch</key>
                <true/>
                <key>fallbackToNative</key>
                <true/>
                <key>fastAppSwitchingEnabled</key>
                <true/>
                <key>forceFastAppSwitching</key>
                <false/>
                <key>minimizeOnToggle</key>
                <true/>
                <key>persistent</key>
                <true/>
                <key>statusBarIconEnabled</key>
                <true/>
            </dict>
            <key>com.apple.mobileipod-AudioPlayer</key>
            <dict>
                <key>backgroundingMethod</key>
                <integer>1</integer>
                <key>badgeEnabled</key>
                <false/>
                <key>enableAtLaunch</key>
                <true/>
                <key>fallbackToNative</key>
                <true/>
                <key>fastAppSwitchingEnabled</key>
                <true/>
                <key>forceFastAppSwitching</key>
                <false/>
                <key>minimizeOnToggle</key>
                <true/>
                <key>persistent</key>
                <true/>
                <key>statusBarIconEnabled</key>
                <true/>
            </dict>
            <key>com.apple.mobileipod-VideoPlayer</key>
            <dict>
                <key>backgroundingMethod</key>
                <integer>1</integer>
                <key>badgeEnabled</key>
                <false/>
                <key>enableAtLaunch</key>
                <true/>
                <key>fallbackToNative</key>
                <true/>
                <key>fastAppSwitchingEnabled</key>
                <true/>
                <key>forceFastAppSwitching</key>
                <false/>
                <key>minimizeOnToggle</key>
                <true/>
                <key>persistent</key>
                <true/>
                <key>statusBarIconEnabled</key>
                <true/>
            </dict>
        </dict>
    </dict>
</plist>
